.gameplate {
  $self: &;

  display: flex;
  flex-direction: column;
  background-color: #F2F2F2;
  color: #000;
  border-top: 6px solid #000;
  font-weight: 700;
  align-self: stretch;
  min-height: 0;
  flex-grow: 1;

  &__this-is {
    font-size: 2rem;
  }

  &__title {
    font-size: 5.5rem;
    line-height: 0.9;
    padding-right: 1rem;
    margin-right: auto;
    margin-top: 0.7rem;
  }
  
  &__top-row {
    display: flex;
    min-height: 120px;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    background-color: #D9A000;
    padding: 0.5rem 1rem;
    gap: 1rem;
  }

  &__console-letter {
    --size: 75px;
    display: flex;
    width: var(--size);
    height: var(--size);
    min-width: var(--size);
    min-height: var(--size);
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
    color: #fff;
    padding-top: 0.75rem;

    &--slot-0 {
      background-color: #00983B;
    }

    &--slot-1 {
      background-color: #3E81CE;
    }

    &--slot-2 {
      background-color: #BF052A;
    }

    &--slot-3 {
      background-color: #841d9b;
    }
  }

  &__bottom-row {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 2.5rem;
    flex-grow: 1;
    padding: 0 0.5rem 0 1rem;
    min-width: 0;
    align-self: stretch;
  }

  &__estimate {
    margin-top: 0.5rem;
  }

  &__timer {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #000;
    color: #fff;
    padding: 1rem;
    padding-top: 1.4rem;
    height: calc(100% - 1rem);
  }

  &__category {
    font-size: 3rem;
  }

  &__estimate {
    font-size: 1.5rem;
    margin-top: 0rem;
  }

  &--long-title {
    #{$self}__title {
      font-size: 3.5rem;
    }

    #{$self}__category {
      font-size: 2.5rem;
    }
  }
}

.cartographer-gameplate {
  display: flex;
  align-self: stretch;
  min-height: 0;
  flex-grow: 1;
}