.gameplate {
  display: flex;
  flex-direction: row;
  background-color: #3E81CE;
  color: #fff;
  font-weight: 700;
  font-family: 'Helvetica';
  align-self: stretch;
  min-height: 0;
  flex-grow: 1;
  padding: 1rem 2rem;

  &__this-is {
    font-size: 2rem;
  }

  &__title {
    font-size: 5.5rem;
    margin-top: 0.75rem;
    line-height: 0.9;
  }
  
  &__left-column {
    display: flex;
    max-width: 60%;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }

  &__right-column {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    font-size: 2.5rem;
    flex-grow: 1;
    min-width: 0;
    align-self: stretch;

    & > div {
      text-align: right;
    }
  }

  &__estimate {
    margin-top: 0.5rem;
  }
}

.cartographer-gameplate {
  display: flex;
  align-self: stretch;
  min-height: 0;
  flex-grow: 1;
}